---
title: Home
---

{% include header.html %}

<div class="jumbotron">
	
<h1>DGEclust</h2>

<h2>Hierarchical non-parametric Bayesian clustering of digital expression data</h2>

<p><strong>DGEclust</strong> is a program for clustering digital expression data, which are produced by next-generation sequencing
assays, such as RNA-seq, CAGE and others. It takes as input a table of count data and it estimates the
number and parameters of the clusters supported by the data. The estimated cluster configurations
can be post-processed in order to test for differential expression of features among groups of samples 
and for the generation of sample- and feature-wise dendrograms and heatmaps. </p>    

<div class="btn-group pull-right">
	<a type="button" class="btn btn-default" href="{{ site.baseurl }}{{ site.data.nav.docs.inst.url }}">How to install</a>
	<a type="button" class="btn btn-default" href="{{ site.baseurl }}{{ site.data.nav.docs.tut.url }}">How to use</a>
</div>

</div>

<p> Internally, <strong>DGEclust</strong> uses a <em>Hierarchical Dirichlet
Process Mixture Model</em> for modelling (over-dispersed) count data, combined 
with a <em>blocked Gibbs sampler</em> for efficient Bayesian learning. You can 
find more technical details on the statistical methodologies used in this software 
in the following papers: </p>

<ol>
	<li> <strong>Vavoulis DV</strong>, Gough J (2013). Non-Parametric Bayesian Modelling of Digital Gene Expression Data. 
	<em>J Comput Sci Syst Biol</em> 7:001-009. doi: 10.4172/jcsb.1000131 [<a href="http://arxiv.org/pdf/1301.4144v1.pdf">PDF</a>]</li>

	<li> <strong>Vavoulis DV</strong>, Francescatto M, Heutink P, Gough J (2014). DGEclust: differential
	expression analysis of clustered count data. (<em>submitted</em>) [<a href="http://arxiv.org/pdf/1405.0723v1.pdf">PDF</a>]</li>
</ol>

<p>If you find this software useful, please <strong>cite</strong> the second paper, above. 
For more information, send an email to <a href="mailto:{{ site.data.people.me.email }}">Dimitris Vavoulis</a> or 
<a href="mailto:{{ site.data.people.julian.email }}">Julian Gough</a>.</p>

<p>Enjoy!</p>

{% include footer.html %}
