<ul class="nav">
	{% assign docs = site.data.nav.docs %}
	{% assign tut = docs.tut %}

    <li class="active"><a href="{{ docs.inst.url }}">{{ docs.inst.title }}</a></li>
    <li><a href="#">{{ tut.title }}</a></li>
	<ul class="nav">
		<li><a href="{{ tut.data.url }}">{{ tut.data.title }}</a></li>
		<li><a href="{{ tut.clust.url }}">{{ tut.clust.title }}</a></li>
		<li><a href="{{ tut.detest.url }}">{{ tut.detest.title }}</a></li>
	</lu>	
</ul>

<ul class="pager">
  <li><a href="#"><span class="fa fa-arrow-left"></span> Previous</a></li>
  <li><a href="#">Next <span class="fa fa-arrow-right"></span></a></li>
</ul>
